<!DOCTYPE html>
<html>
<head>
    <title>知识库创建</title>
    {% include 'system/common/header.html' %}
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-body">
        <table id="dataTable" lay-filter="dataTable"></table>
    </div>
</div>

<script type="text/html" id="toolbar">
    {% if authorize("system:file:add") %}
        <button class="pear-btn pear-btn-primary pear-btn-sm" lay-event="add">
            <i class="layui-icon layui-icon-add-1"></i>
            新增
        </button>
    {% endif %}
    {% if authorize("system:file:delete") %}
        <button class="pear-btn pear-btn-sm" lay-event="batchRemove">
            <i class="layui-icon layui-icon-delete"></i>
            删除
        </button>
    {% endif %}
</script>

<script type="text/html" id="user-bar">
    {% if authorize("system:file:delete") %}
        <button class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i
                class="layui-icon layui-icon-delete"></i></button>
    {% endif %}
</script>
{% include 'system/common/footer.html' %}
<script>
  layui.use(['table', 'form', 'jquery'], function () {
    let table = layui.table
    let form = layui.form
    let $ = layui.jquery
    let cols = [
      [
        {
          type: 'checkbox'
        },
        {
          field: 'id',
          title: 'ID',
          sort: true,
          align: 'center',
          unresize: true,
          width: 80
        },
        {
          field: 'name',
          title: '知识库名称',
          unresize: true,
          align: 'center',
          width: 350
        },
        {
          field: 'create_user_name',
          title: '创建用户',
          unresize: true,
          align: 'center'
        },
        {
          field: 'create_dept_name',
          title: '创建部门',
          unresize: true,
          align: 'center'
        },
        {
          field: 'size',
          title: '文件大小',
          unresize: true,
          align: 'center'
        },
        {
          field: 'create_time',
          title: '创建时间',
          templet: '#file-uploadTime',
          unresize: true,
          align: 'center'
        },
        {
          field: 'update_time',
          title: '更新时间',
          templet: '#file-uploadTime',
          unresize: true,
          align: 'center'
        },
        {
          field: 'desc',
          title: '描述',
          unresize: true,
          align: 'center'
        },
<!--        {-->
<!--          field: 'path',-->
<!--          title: '文件路径',-->
<!--          unresize: true,-->
<!--          align: 'center'-->
<!--        },-->
        {
          title: '操作',
          toolbar: '#user-bar',
          align: 'center',
          unresize: true,
          width: 200
        }
      ]
    ]

    table.render({
      elem: '#dataTable',
      url: 'table',
      page: true,
      cols: cols,
      skin: 'line',
      toolbar: '#toolbar',
      defaultToolbar: [{
        layEvent: 'refresh',
        icon: 'layui-icon-refresh',
      }, 'filter', 'print', 'exports']
    })

    table.on('tool(dataTable)', function (obj) {
      if (obj.event === 'remove') {
        window.remove(obj)
      } else if (obj.event === 'photo') {
        window.photo(obj)
      }
    })

    table.on('toolbar(dataTable)', function (obj) {
      if (obj.event === 'add') {
        window.add()
      } else if (obj.event === 'refresh') {
        window.refresh()
      } else if (obj.event === 'batchRemove') {
        window.batchRemove(obj)
      }
    })

    //弹出窗设置 自己设置弹出百分比
    function screen () {
      if (typeof width !== 'number' || width === 0) {
        width = $(window).width() * 0.8
      }
      if (typeof height !== 'number' || height === 0) {
        height = $(window).height() - 20
      }
      return [width + 'px', height + 'px']
    }

    window.add = function () {
      layer.open({
        type: 2,
        maxmin: true,
        title: '新增知识库',
        shade: 0.1,
        area: screen(),
        content: 'upload'
      })
    }

    window.remove = function (obj) {
      layer.confirm('确定要删除该知识库', {
        icon: 3,
        title: '提示'
      }, function (index) {
        layer.close(index)
        let loading = layer.load()
        $.ajax({
          url: "{{ url_for('knowledge.knowledge_store.delete') }}",
          data: { id: obj.data['id'] },
          dataType: 'json',
          type: 'POST',
          success: function (res) {
            layer.close(loading)
            if (res.success) {
              layer.msg(res.msg, {
                icon: 1,
                time: 2000
              }, function () {
                obj.del()
              })
            } else {
              layer.msg(res.msg, {
                icon: 2,
                time: 2000
              })
            }
          }
        })
      })
    }

    window.batchRemove = function (obj) {
      let data = table.checkStatus(obj.config.id).data
      if (data.length === 0) {
        layer.msg('未选中数据', {
          icon: 3,
          time: 1000
        })
        return false
      }
      var ids = []
      var hasCheck = table.checkStatus('dataTable')
      var hasCheckData = hasCheck.data
      if (hasCheckData.length > 0) {
        $.each(hasCheckData, function (index, element) {
          ids.push(element.id)
        })
      }
      layer.confirm('确定要删除这些知识库', {
        icon: 3,
        title: '提示'
      }, function (index) {
        layer.close(index)
        let loading = layer.load()
        $.ajax({
          url: "{{ url_for('knowledge.knowledge_store.batch_remove') }}",
          data: { ids: ids },
          dataType: 'json',
          type: 'POST',
          success: function (res) {
            layer.close(loading)
            if (res.success) {
              layer.msg(res.msg, {
                icon: 1,
                time: 1000
              }, function () {
                table.reload('dataTable')
              })
            } else {
              layer.msg(res.msg, {
                icon: 2,
                time: 1000
              })
            }
          }
        })
      })
    }

    window.refresh = function () {
      table.reload('dataTable')
    }


  })
</script>