<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link href="{{ url_for('static', filename='system/component/pear/css/pear.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='system/admin/css/other/error.css') }}" rel="stylesheet"/>
</head>
<body>admin/
<div class="content">
    <img src="{{ url_for('static', filename='system/admin/images/500.svg') }}" alt="">
    <div class="content-r">
        <h1>500</h1>
        <p>抱歉，服务器出错了</p>
        <button class="pear-btn pear-btn-primary">返回首页</button>
    </div>
</div>
</body>
</html>
