[mysql]

default-character-set=utf8

[client]

default-character-set = utf8

[mysqld]
server_id = 1
# 开启二进制日志
log-bin = mysql-bin
# 只保留7天的二进制日志，以防磁盘被日志占满
expire-logs-days = 7 
# 二进制日志自动删除的天数，默认值为0,表示“没有自动删除”，启动时和二进制日志循环时可能删除
expire_logs_days = 7
# 设置编码与字符集
init_connect='SET collation_connection = utf8_unicode_ci'
init_connect='SET NAMES utf8'
character-set-server=utf8
collation-server=utf8_unicode_ci
# 设置错误日志路径
log-error = /usr/local/mysql/log/error.log
# 设置查询日志路径
general_log = on
general_log_file = /usr/local/mysql/log/mysql.log
#开启慢查询日志路径
slow_query_log = on
long_query_time = 3
log-queries-not-using-indexes = on
slow-query-log-file = /usr/local/mysql/log/slowquery.log
